.contact{
    height: 100vh;
    position: relative;
}

.contact-bg{
    width: 20px;
    height: 100%;
    background-color:#1597E5;
    position:absolute;
}
.contact-wrapper{
    padding: 50px;
    display: flex;
}

.contact-left{
    flex:1;
}
.contact-right{
    flex:1;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}
.contact-title{
    font-size: 60px;
    width: 80%;
    font-family: 'Poppins',sans-serif;
}
.contact-info-item{
    display: flex;
    align-items: center;
    margin: 30px 0px;
    width: 70%;
}
.contact-text{
    font-family: 'Poppins', sans-serif;
}
.contact-icon{
    margin-right: 20px;
}

.contact-form{
    margin-top:20px;
}
.contact-input{
    width:50%;
    height:50px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
    margin: 10px 10px;
    font-size:14px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.contact-textarea{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 10px 10px;
    font-size:14px;
    padding-left: 10px;
    border:1px solid rgba(128, 128, 128, 0.493);

}

button {
    border: none;
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
  }

  @media screen and (max-width:480px){
      .contact{
          height: 85vh;
      }
    .contact-wrapper{
        flex-direction:column;
        padding:0px 35px;
    }
    .contact-title{
        font-size:30px;
    }
    .contact-icon{
        margin-right: 8px;
    }
    .contact-info-item{
        margin: 20px 0px;
        width: 100%;
    }
    .contact-desc{
        display: none;
    }
    .contact-form{
        margin-top:-10px;
        display: flex;
        flex-wrap: wrap;
    }
    .contact-input{
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }
    .contact-textarea{
        width: 75%;
        margin-left: 0px;
    }
    button{
        margin-left: 0;
        padding: 8px;
        width: 80px;
        
    }
}